body 
{
    font-family: 'Borel', cursive;
    text-transform: capitalize;
    background-color: aliceblue;
}
h1 
{ 
    color: #35155D;
    font-size: 42px; 
}
h2 
{ 
    color: #512B81; 
    font-size: 34px;
}
h3 
{ 
    color: #4477CE; 
    font-size: 26px;
}
h4 
{ 
    color: #4477CE; 
    font-size: 22px;
}

/* colorhunt.co Marceline color palette */
.color-1 { color: #35155D; }
.color-2 { color: #512B81; }
.color-3 { color: #4477CE; }
.color-4 { color: #547fca; }
.color-5 { color: #6390df; }

/* text font sizes */
.fn-42 { font-size: 42px; }
.fn-34 { font-size: 34px; }
.fn-26 { font-size: 26px; }
.fn-22 { font-size: 22px; }

/* align text or image */
.alig-center-text { text-align: center;}
.alig-center-img 
{
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
}

/* Left and Right Align - Using position */
.alig-right
{
    position: absolute;
    right: 0px;
}
span.inline { display: inline-block; }